/MasterMind/target
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/MasterMind/nbactions.xml
/MasterMind/nbproject/
/MasterMind/nb-configuration.xml
/Mastermind/games.txt
/Mastermind/players.txt
